body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #abb2bf;
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: 20px;
  overflow: scroll;
}

h1 {
  font-size: 25px;
  line-height: 35px;
}

h2 {
  font-size: 22px;
}

main {
  background-color: #23272e;
  height: 1000px;
  width: 1000px;
  margin: auto;
  border: 2px solid #abb2bf;
  border-radius: 2%;
  opacity: 0.7;
  transition-duration: 500ms;
  animation-name: mainAnimation;
  animation-duration: 1.5s;
  animation-timing-funcion: ease-out;
}

main:hover {
  opacity: 1;
}

.hero,
.about,
.contacts {
  margin: 5%;
  margin-top: 10%;
}
.hero {
  margin-top: 5%;
}
.hero img {
  border-radius: 10%;
  float: right;
  margin: auto;
  margin-top: 0.5%;
  margin-right: 3%;
}

.about h2 {
  margin-left: 1%;
}
.contacts h2 {
  margin-left: 1%;
}

.about .object {
  margin-left: 4%;
}

#hello {
  color: #9cbf78;
}

#AB {
  color: #d96a7e;
}

.let {
  color: #d96a7e;
}

.object-text {
  color: #9cbf78;
}

.object-number {
  color: #d96a7e;
}

.borders {
  color: #d99f6c;
}
.social li {
  display: inline-block;
  list-style-type: none;
  margin: 3%;
}

.social {
  margin-top: 7%;
  margin-left: -3%;
}

[alt="Gmail"] {
  padding-bottom: 9px;
  opacity: 0.7;
  transition-duration: 250ms;
}
[alt="Gmail"]:hover {
  opacity: 1;
}

[alt="Facebook"] {
  opacity: 0.7;
  transition-duration: 250ms;
}
[alt="Facebook"]:hover {
  opacity: 1;
}

[alt="GitHub"] {
  opacity: 0.7;
  transition-duration: 250ms;
}

[alt="GitHub"]:hover {
  opacity: 1;
}

#anime1 {
  margin-top: 5%;
  margin-right: 5%;
  float: right;
  border-radius: 5%;
}

.reload {
  height: 20px;
  width: 20px;
  background-color: #B1B0B3;
  border: solid;
  border-width: 1.5px;
  border-color: #B1B0B3;
  border-radius: 50%;
  margin-top: 2%;
  margin-left: 2%;
  transition-duration: 250ms;
  opacity: 0.7;
}

.reload:hover {
  opacity: 1;
  background-color: #00BFFF;
  border-color: #00BFFF;
}

@keyframes mainAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: (0, 100px);
  }
}
